version: "3.8"
services:
  upload-service:
    build: ./upload-service
    ports:
      - 4567:4567

  caddy:
    image: caddy:latest
    ports:
      - "8443:8443"
    volumes:
      - ./upload-service/Caddyfile:/etc/caddy/Caddyfile
      - ./upload-service/data/data:/data
      - ./upload-service/data/config:/config
