name: Android Tests
on:
  push:
    branches:
      - main
  pull_request:

env:
  GPR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GPR_USER: ${{ secrets.GITHUB_ACTOR }}

defaults:
  run:
    working-directory: ./example

jobs:
  android-tests:
    name: Android Tests
    runs-on: macos-latest
    steps:
      - name: Checkout project sources
        uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '11'
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Setup Node.js
        uses: actions/setup-node@v3
      - name: Install dependencies
        run: npm i --force
      - name: Install docker
        run: |
          mkdir -p ~/.docker/machine/cache
          curl -Lo ~/.docker/machine/cache/boot2docker.iso https://github.com/boot2docker/boot2docker/releases/download/v19.03.12/boot2docker.iso
          brew install docker docker-compose
      - name: Start colima
        run: |
          # Docker engine is no longer available because of licensing
          # Alternative Colima is part of the github macOS runner
          colima start
          # Ensure colima is configured for later user
          echo "DOCKER_HOST=unix://$HOME/.colima/default/docker.sock" >> $GITHUB_ENV
          # Verify Docker
          docker ps
      - name: Start local test server
        run: docker-compose -p xmtp -f dev/local/docker-compose.yml up -d
      - name: Gradle Run Integration Tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          working-directory: ./example/android
          api-level: 29
          arch: x86_64
          ram-size: 1024M
          disk-size: 2048M
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: ./gradlew connectedCheck
      - name: Stop local test server
        run: docker-compose -p xmtp -f dev/local/docker-compose.yml down